<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.Dao.CustomerDishItemDao" >


    <resultMap id="CustomerDishItemResult" type="com.example.Model.CustomerDishItem">

        <result property="id" column="id"/>
        <result property="cid" column="cid"/>
        <result property="mid" column="mid"/>
        <result property="did" column="did"/>
        <result property="amount" column="amount"/>
        <result property="createDate" column="createDate"/>
        <association property="merchantVO" resultMap="com.example.Dao.MerchantDao.MerchantResult" columnPrefix="m_"/>
        <association property="customerVO" resultMap="com.example.Dao.CustomerDao.CustomerResult" columnPrefix="c_"/>
        <association property="dishVO" resultMap="com.example.Dao.DishDao.DishResult" columnPrefix="d_"/>
        <association property="restaurantVO" resultMap="com.example.Dao.RestaurantDao.RestaurantResult" column="r_"/>
    </resultMap>



    <insert id="insert" parameterType="com.example.Model.CustomerDishItem">
        <![CDATA[
        INSERT INTO `customer_dish_item` (
            `cid`,
            `did`,
            `mid`,
            `amount`,
            `createDate`
        )
        VALUES(

          #{cid},
          #{did},
          #{mid},
          #{amount},
          #{createDate}
        )

    ]]>
    </insert>

    <select id="list" resultMap="CustomerDishItemResult" resultType="com.example.Model.CustomerDishItem">
        SELECT
        *
        <include refid="com.example.Dao.DishDao.DishJoinMap"/>
        <include refid="com.example.Dao.RestaurantDao.RestaurantJoinMap"/>
        FROM
        `customer_dish_item` cdi
        left join dish as d on d.d_id = cdi.did
        left join  restaurant as r on r.id = cdi.mid
        <where>
            <if test="id!=null">
                cdi.cid = #{id}
            </if>
        </where>
    </select>


    <select id="select" resultMap="CustomerDishItemResult" resultType="com.example.Model.CustomerDishItem">
        SELECT
        *
        FROM
        `customer_dish_item` cdi
        <where>

            <if test="mid!=null">
             cdi.mid = #{mid}
            </if>
            <if test="cid!=null">
                and cdi.cid = #{cid}
            </if>
            <if test="did!=null">
                and cdi.did = #{did}
            </if>
        </where>
    </select>


    <update id="update" parameterType="com.example.Model.CustomerDishItem">
        UPDATE customer_dish_item cdi
        set
        <trim suffixOverrides=",">
            <if test="id!=null and id!=''">cdi.id = #{id},</if>
            <if test="cid!=null and cid!=''">cdi.cid = #{cid},</if>
            <if test="did!=null and did!=''">cdi.did = #{did},</if>
            <if test="mid!=null and mid!=''">cdi.mid = #{mid},</if>
            <if test="amount!=null and amount!=''">cdi.amount = #{amount},</if>
            cdi.createDate = #{createDate},
            cdi.modifiedDate = #{modifiedDate}
        </trim>
    </update>

    <delete id="delete" >
        DELETE customer_dish_item cdi
           where
           <if test="id!=null">
              cdi.id = #{id}
           </if>
    </delete>


</mapper>