<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.Dao.CustomerDao" >


    <resultMap id="CustomerResult" type="com.example.Model.Customer">

        <result property="id" column="c_id"/>
        <result property="name" column="c_logname"/>
        <result property="password" column="c_password"/>
        <result property="telephone" column="c_tel"/>
        <result property="address" column="c_address"/>
    </resultMap>

    <sql id="CustomerJoinMap">
        ,c.c_id as c_id
        ,c.c_logname as c_logname
        ,c.c_tel as c_tel
        ,c.c_address as c_address
    </sql>

    <insert id="insertCustomer" parameterType="com.example.Model.Customer">
        <![CDATA[
        INSERT INTO `customer` (
            `c_id` ,
            `c_logname`,
            `c_password`,
            `c_tel`,
            `c_address`
        )
        VALUES(
          #{id},
          #{name},
          #{password},
          #{telephone},
          #{address}
        )

    ]]>
    </insert>

    <update id="delete" parameterType="com.example.Model.Customer">
        update `customer`
        set
            data_status = 0
            WHERE 
              <if test="id!=null and id!=''">
                  c_id = #{id}
              </if>
    </update>


    <select id="get" resultMap="CustomerResult" parameterType="string">
        SELECT * FROM customer c
        <where>
            c.data_status =1
            <if test="name!=null and name!=''">
               and c.c_logname =#{name}
            </if>
        </where>
    </select>

    <select id="CustomerList" resultMap="CustomerResult" resultType="com.example.Model.Customer">
        SELECT
         *
         FROM
          `customer` c
          WHERE
              c.data_status = 1
    </select>


    <select id="selectCustomer" resultMap="CustomerResult" resultType="com.example.Model.Customer">
        SELECT
          *
        FROM
         `customer` c
        <where>
         <if test="name!=null and name!=''">
             c.c_logname = #{name}
         </if>
        </where>
    </select>


</mapper>